@import '../../styles/variables.scss';

.order {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: 0 auto;

  .orderLeft {
    width: 100%;
    margin: 100px 0 100px 100px;

    .ordererInfos {
      font-size: 16px;

      h2 {
        color: $GRAY333;
      }

      .infoInputs {
        margin-top: 10px;

        .orderTextInput {
          position: relative;

          input {
            margin-top: 20px;
            font-size: 16px;
            width: 80%;
            padding: 12px 0 8px;
            border: none;
            border-bottom: 1px solid #d5d4c9;
            background: $bgColor;

            outline: none;
          }

          label {
            position: absolute;
            top: 25px;
            left: 0;
            color: $GRAY666;
            font-size: 18px;
            pointer-events: none;
          }

          &.move {
            label {
              position: absolute;
              top: 5px;
              font-size: 14px;
              transition: all 0.3s ease;
            }
          }
        }
      }

      ul {
        margin-top: 20px;
        font-size: 16px;

        li {
          width: 80%;
          padding: 12px 0;
          border-bottom: 1px solid #d5d4c9;

          span {
            display: block;
            padding-bottom: 30px;
          }

          p {
          }
        }
      }
    }

    .destinationInfos {
      margin-top: 70px;
      font-size: 16px;

      h2 {
        color: $GRAY333;
      }

      .infoInputs {
        margin-top: 10px;

        .orderTextInput {
          position: relative;

          input {
            margin-top: 20px;
            font-size: 16px;
            width: 80%;
            padding: 12px 0 8px;
            border: none;
            border-bottom: 1px solid #d5d4c9;
            background: $bgColor;

            outline: none;
          }

          label {
            position: absolute;
            top: 25px;
            left: 0;
            color: $GRAY666;
            font-size: 18px;
            pointer-events: none;
          }

          &.move {
            label {
              position: absolute;
              top: 5px;
              font-size: 14px;
              transition: all 0.3s ease;
            }
          }
        }
      }

      ul {
        margin-top: 20px;
        font-size: 16px;

        li {
          width: 80%;
          padding: 12px 0;
          border-bottom: 1px solid #d5d4c9;

          &:last-child {
            border-bottom: 0;

            span {
              padding-bottom: 15px;
            }

            textarea {
              width: 100%;
              height: 100px;
              border: 1px solid #d5d4c9;
              background: #fffef2;
              outline: none;
              resize: none;

              &::placeholder {
                color: $GRAY666;
                padding: 10px;
              }
            }
          }

          span {
            display: block;
            padding-bottom: 30px;
          }

          p {
          }
        }

        .desiredWant {
          position: relative;
          border-bottom: 0;
          padding-bottom: 0;

          span {
            padding-bottom: 15px;
          }

          .selectArrow {
            position: absolute;
            right: 20px;
            top: 59px;
            width: 12px;

            img {
              width: 100%;
            }
          }

          .selectDate {
            // display: none;
            height: 80px;
            border: 1px solid #d5d4c9;
            margin-top: 5px;
            overflow: scroll;

            // &::-webkit-scrollbar {
            //   width: 5px;
            // }

            li {
              padding: 2px 0;
              margin: 0 auto;
              border-bottom: 0;
              text-align: center;

              &:first-child {
                padding-top: 8px;
              }

              &:last-child {
                padding-bottom: 8px;
              }
            }

            button {
              border: none;
              background: $bgColor;
              font-size: 14px;
              color: $GRAY666;
              cursor: pointer;
            }
          }
        }
      }

      .dateSelectBox {
        width: 100%;
        padding: 10px 10px;
        border: 1px solid #d5d4c9;
        background: $bgColor;

        font-size: 14px;
        color: $GRAY666;

        cursor: pointer;
      }
    }
  }

  .orderRight {
    width: 100%;
    background: $bgColorPoint;

    .orderInfosFixed {
      width: 100%;

      .orderPriceInfos {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 30px;

        div {
          display: flex;
          justify-content: space-between;
          padding-top: 120px;

          font-size: 16px;
          color: $GRAY333;

          &:nth-child(2) {
            padding: 30px 0;
            border-bottom: 1px solid #d5d4c9;
          }

          &:nth-child(3) {
            padding-top: 30px;
            span {
              &:last-child {
                font-weight: 700;
              }
            }
          }

          span {
            &:first-child {
            }

            &:last-child {
            }
          }
        }
      }

      .orderProductInfos {
        display: flex;
        justify-content: space-between;

        width: 71%;
        margin: 0 auto;
        padding: 15px 0 42px;
        border-top: 2px solid $GRAY333;
        border-bottom: 1px solid $GRAY666;

        .orderProductImg {
          display: inline-block;
          width: 50%;
          margin-top: 30px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        .orderProductMiniInfos {
          display: flex;
          flex-direction: column;
          width: 30%;
          margin: 30px 0 0 30px;
          padding-right: 80px;

          div:first-child {
            height: 215px;

            p {
              &:first-child {
                font-size: 16px;
                font-weight: 600;
                color: $GRAY333;
              }

              &:last-child {
                font-size: 14px;
                color: $GRAY666;
              }
            }
          }

          div:last-child {
            .selectBox {
              display: flex;
              justify-content: space-between;
              width: 50px;
              padding: 5px 11px;
              border: 1px solid $GRAY333;
              background: $bgColor;
              color: $GRAY333;

              .selectArrow {
                display: inline-block;
                width: 9px;

                img {
                  width: 100%;
                  padding-bottom: 1px;
                }
              }
            }

            ul {
              // display: none;
              width: 48px;
              height: 60px;
              margin-top: 2px;
              border: 1px solid $GRAY333;

              overflow: scroll;

              li {
                button {
                  width: 48px;
                  padding: 5px 15px;
                  border: none;
                  background: $bgColor;
                }
              }
            }

            p {
              margin-top: 5px;
              color: $GRAY333;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
    }

    .orderBtn {
      margin-top: 10px;
      text-align: center;

      button {
        width: 70%;
        border: none;
        padding: 22px 0;
        background: $GRAY333;

        color: $bgColor;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}
