@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

* {
  box-sizing: border-box;
}

.blank {
  background-color: $bgColor;
  height: 250px;
}

.logoBar {
  width: 100%;
  height: 200px;
  background-color: $bgColor;
  display: flex;
  align-items: center;

  img {
    width: 80px;
    margin-left: 50px;
  }
}

.mainImg {
  width: 100%;
  height: 650px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    position: absolute;
    top: -600px;
  }
}

.newProductsTitle {
  font-size: 24px;
  color: $GRAY333;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.newProductsWrapper {
  height: 450px;
  display: flex;
  justify-content: center;
}

.mainGuideBox {
  display: flex;
  justify-content: space-between;

  .mainGuideContentLeft {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 70px;
  }

  .recommendationGuideImg {
    width: 55%;
    height: 450px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      top: -300px;
    }
  }
}

.mainGuideTitle {
  font-size: 24px;
  color: $GRAY333;
}

.mainGuideText {
  font-size: 16px;
  color: $GRAY666;
}

.mainNavigateBtn {
  width: 250px;
  font-size: 14px;
  color: $GRAY333;
  background: transparent;
  border: 1px solid #d5d4c9;
  padding: 20px 0px;

  &:hover {
    background: $GRAY252525;
    color: $bgColorPoint;
    cursor: pointer;
  }
}

.mainDeliveryGuideBox {
  display: flex;
  justify-content: space-between;

  .deliveryGuideImg {
    width: 55%;
    height: 450px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      width: 130%;
      top: -865px;
      left: -30px;
    }
  }

  .mainGuideContentRight {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 90px;
  }
}

.subscriptionBox {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    position: absolute;
    top: -1000px;
  }
}

.nutrientsBox {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    position: absolute;
    top: -400px;
  }
}
