@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.newProducts {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 0px 20px;

  .newProductImg {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .newProductDetail {
    font-size: 16px;

    p {
      display: flex;
      justify-content: center;
    }

    .newProductName {
      color: $GRAY333;
    }

    .newProductPrice {
      color: $GRAY666;
    }
  }
}
