@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.cart {
  overflow: hidden;
  height: 100%;

  &.empty {
    .cartLeft {
      width: 100%;
    }
  }

  .innerCart {
    display: flex;
    height: 100%;
  }

  .cartRight {
    width: 40%;
  }

  .txtCart {
    @include flexSortCenter;
    height: 360px;
    margin-top: 12px;
    font-size: 16px;
  }
}
