@import '../../../styles/variables.scss';
@import '../../../styles/mixin.scss';

.cartPriceInfo {
  width: 40%;
  background-color: $bgColorPoint;

  .innerInfo {
    width: 70%;
    margin: 0 auto;
    padding-top: 240px;
  }

  .priceInfoBox {
    & + .priceInfoBox {
      margin-top: 22px;
      border-top: 1px solid $borderColor;
    }

    .priceInfoItem {
      display: flex;
      justify-content: space-between;
      padding-top: 22px;
      font-size: 16px;
    }

    .totalPrice {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .btnOrder {
    @include btnFill;
    margin-top: 22px;
  }
}
