@mixin flexSortCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin position($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
