// 색상
$colorBg: #fffef2;
$colorHeading: #252525; // 푸터, 로고
$colorTitle: #333333; // 버튼, 카테고리글씨, 제품명
$colorBgMenu: #f0efdf;

$colorBody: #666666; // 제품설명, 제품상세
$fontSize: 14px;

// 테마 및 배경색 : #FFFEF2  /  폰트 및 보색 : #333
