@import '../../../styles/variables.scss';

.cartRight {
  width: 40%;
  background: $bgColorPoint;

  .cartInfos {
    width: 100%;
  }

  .cartBtn {
    // margin-top: 10px;
    text-align: center;

    button {
      width: 70%;
      border: none;
      padding: 22px 0;
      background: $GRAY333;

      color: $bgColor;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
