@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.navBar {
  height: 80px;
  background-color: $bgColor;
  display: flex;
  align-items: center;
  padding: 0px 50px;

  .navBarLeft {
    width: 18%;
    display: flex;
    justify-content: space-between;
    color: black;
  }

  .navBarRight {
    width: 12%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 50px;
  }
}
