@import '../../../styles/variables.scss';
@import '../../../styles/mixin.scss';

@mixin btnFill(
  $fontColor: #f6f5e8,
  $borderColor: $GRAY333,
  $bgColor: $GRAY333
) {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: 60px;
  font-size: 16px;
  color: $fontColor;
  border: 1px solid $borderColor;
  background-color: $bgColor;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}

@mixin btnText($fontColor: #333) {
  display: inline-block;
  color: $fontColor;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.user {
  width: 100%;
  min-width: 440px;
  padding: 50px;
  border: 1px solid #252525;
  box-sizing: border-box;
  background-color: $bgColor;

  .userTitle {
    font-size: 30px;
    font-weight: 400;
    color: #333;
  }

  .userTitleSub {
    margin-top: 35px;
    font-size: 24px;
    font-weight: normal;
    color: #333;
  }

  .wrapInp {
    display: flex;

    .boxInput + .boxInput {
      margin-left: 24px;
    }
  }

  .wrapBtn {
    @include flexSortCenter;
    margin-top: 15px;
  }

  .btnSubmit {
    @include btnFill;
    margin-top: 35px;

    &:hover {
      background-color: #252525;
    }
  }

  .btnSubmitType2 {
    @include btnFill(#333, #333, $bgColor);
    margin-top: 20px;

    &:hover {
      background-color: #252525;
      color: $bgColor;
    }
  }

  .btnText {
    @include btnText;
  }

  .wrapInpChk {
    padding-top: 20px;
  }
}
