@import '../../../styles/mixin.scss';
@import '../../../styles/variables.scss';

.cartItem {
  display: flex;
  position: relative;
  height: 300px;

  &:hover {
    .btnDelete {
      opacity: 0.87;
    }
  }

  & + .cartItem {
    margin-top: 45px;
  }

  .wrapImg {
    width: 50%;

    .cartImg {
      width: 200px;
      height: 100%;
    }
  }

  .wrapInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    margin-left: 20px;

    .boxTitle {
      // margin-top: 0px;
      .title {
        font-size: 16px;
      }
    }

    .boxPrice {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .priceInfo {
        display: flex;
        flex-direction: column;
        text-align: right;
      }

      .titlePrice {
        font-size: 16px;
      }

      .numPrice {
        font-family: 'Pretendard';
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  .btnDelete {
    @include position($top: 2px, $right: 0);
    @include btnText($fontColor: $GRAY333);
    opacity: 0;
    transition: all 0.2s ease-in;
  }
}
