@import '../../../styles/variables.scss';
.materials {
  width: 100%;
  height: 100px;
  background-color: $bgColorPoint;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px 0px 20px;
  box-sizing: border-box;
  .materialsFilter {
    margin-left: 40px;
    font-size: 16px;
    color: $GRAY333;
    display: inline-block;
    padding-top: 40px;
    background-color: $bgColorPoint;
    cursor: pointer;
    .materialFilter {
      margin-right: 40px;
      display: inline-block;
      background-color: $bgColorPoint;
    }
  }
  // .materials {
  //   width: 100%;
  //   height: 100px;
  //   background-color: $bgColorPoint;
  //   display: flex;
  //   justify-content: space-between;
  //   padding: 0px 40px 0px 20px;
  //   box-sizing: border-box;
  //   cursor: pointer;
  //   .materialsCate {
  //     width: 100%;
  //     height: 100px;
  //     background-color: $bgColorPoint;
  //     display: flex;
  //     justify-content: space-between;
  //     padding: 0px 40px 0px 20px;
  //     box-sizing: border-box;
  //     .materialsCateL {
  //       margin-left: 40px;
  //       font-size: 16px;
  //       color: $GRAY333;
  //       padding-top: 40px;
  //       padding-left: 40px;
  //     }
  //   }
  .filterButton {
    background-color: transparent;
    font-size: 16px;
    color: $GRAY333;
    margin: auto 0px;
    height: 50px;
    width: 120px;
    border: 1px solid $GRAY333;
    margin-right: 20px;
    margin-top: 30px;
    &:hover {
      cursor: pointer;
      color: white;
      background-color: $GRAY333;
    }
  }
}
