@import '../../../../styles/variables.scss';

.cartPriceInfos {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 30px;

  .wrapPriceInfo {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    font-size: 16px;
    color: $GRAY333;
  }

  .deliveryCost {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    font-size: 16px;
    color: $GRAY333;
    border-bottom: 1px solid #d5d4c9;
  }

  .totalPriceInfo {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    font-size: 16px;
    color: $GRAY333;
  }

  .numTotalPrice {
    font-weight: 700;
  }
}
