@import '../../styles/variables.scss';
.materials {
  width: 100%;
  height: 100px;
  background-color: $bgColorPoint;
  display: flex;
  justify-content: space-between;
  padding: 0px px 0px 20px;
  box-sizing: border-box;
  .materialsFilter {
    margin-left: 60px;
    font-size: 16px;
    color: $GRAY333;
    display: inline-block;
    padding-top: 40px;
    background-color: $bgColorPoint;
    cursor: pointer;
    .materialFilter {
      margin-right: 40px;
      font-size: 16px;
      color: $GRAY333;
      display: inline-block;
      background-color: $bgColorPoint;
      &:hover {
        border-bottom: 1px solid rgba($GRAY333, 1);
      }
    }
  }
  .filterButton {
    background-color: transparent;
    font-size: 16px;
    color: $GRAY333;
    margin: auto 0px;
    height: 50px;
    width: 120px;
    border: 1px solid $GRAY333;
    margin-right: 20px;
    margin-top: 30px;
    &:hover {
      cursor: pointer;
      color: white;
      background-color: $GRAY333;
    }
  }
}

.filterModalMaterial {
  background-color: $bgColorPoint;
  flex-direction: column;
  height: 500px;
  font-size: 16px;
  color: $GRAY333;
  list-style: none;
  padding-left: 60px;
  .materialFilterL {
    padding-top: 30px;
    border-bottom: 1px solid rgba(#d5d4c9, 1);
  }
  .materialFilterM {
    padding-bottom: 5px;
    line-height: 50px;

    width: 220px;
  }
  .materialCheckBox {
  }
}
.materialMain {
  background-color: $bgColor;
  display: flex;
  justify-content: space-around;
  width: 80vw;
  max-width: 1400px;
  margin: 50px auto;
  align-items: center;
  flex-wrap: wrap;

  .materialInfo {
    width: 400px;
    height: 600px;
    margin-top: 100px;
    .materialImg {
      width: auto;
      height: 90%;
      cursor: pointer;
    }
  }
  .materialsInfo {
    text-align: center;
    .materialTitle {
      height: 5%;
      text-align: center;
      padding: auto auto;
      color: $GRAY333;
      font-size: 18px;
    }
    .materialPrice {
      height: 5%;
      text-align: center;
      color: $GRAY666;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0;
    }
  }
}
.button {
  text-align: center;
  .btn {
    color: $GRAY666;
    font-family: 'Source Serif 4';
    font-size: 16px;
    margin: 40px auto 100px auto;
    width: 110px;
    height: 40px;
    cursor: pointer;
    background-color: $bgColor;
    border: 0.5px solid rgba($GRAY666, 0.5);
    transition: all 0.4s ease-in-out;

    &:hover {
      border: 0.5px solid $GRAY333;
    }

    &:disabled {
      opacity: 0;
      pointer-events: none;
    }
  }
}
